@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap");
:root {
  --Light-gray: hsl(0, 0%, 81%);
  --Light-grayish-blue: hsl(210, 46%, 95%);
  --Moderate-violet: hsl(263, 55%, 52%);
  --Very-dark-grayish-blue: hsl(217, 19%, 35%);
  --Very-dark-blackish-blue: hsl(219, 29%, 14%);
  --White: hsl(0, 0%, 100%);
  font-size: 62.5%;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

body {
  height: 100vh;
  font-size: 1.3rem;
  font-family: "Barlow Semi Condensed", monospace;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background: var(--Light-gray);
}

.testimonial {
  padding: 8rem 4rem;
  display: grid;
  gap: 2rem;
  max-width: 130rem;
  margin-inline: auto;
  grid-auto-columns: auto;
  grid-template-areas: "one" "two" "three" "four" "five";
}
.testimonial__card {
  padding: 3rem;
  border-radius: 10px;
}
.testimonial__card:nth-child(1) {
  grid-area: one;
  background: var(--Moderate-violet);
  position: relative;
  z-index: 9;
}
.testimonial__card:nth-child(1) .quotation {
  width: 10rem;
  height: 11rem;
  position: absolute;
  top: 0;
  right: 6rem;
  z-index: -19;
}
.testimonial__card:nth-child(2) {
  grid-area: two;
  background: var(--Very-dark-grayish-blue);
}
.testimonial__card:nth-child(3) {
  grid-area: three;
}
.testimonial__card:nth-child(4) {
  grid-area: four;
  background: var(--Very-dark-blackish-blue);
}
.testimonial__card:nth-child(5) {
  grid-area: five;
}
.testimonial__card:nth-child(3), .testimonial__card:nth-child(5) {
  background: white;
}
.testimonial__card:nth-child(3) h1,
.testimonial__card:nth-child(3) h3, .testimonial__card:nth-child(5) h1,
.testimonial__card:nth-child(5) h3 {
  color: var(--Very-dark-blackish-blue);
}
.testimonial__card:nth-child(3) p, .testimonial__card:nth-child(5) p {
  color: gray;
}
.testimonial__card__profile {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding-bottom: 1.5rem;
}
.testimonial__card__profile img {
  max-width: 56px;
  border-radius: 50%;
}
.testimonial__card__profile__text h3 {
  font-weight: 500;
  font-size: 1.8rem;
  font-size: clamp(1.8rem, 1rem + 0.9244992296vw, 2.2rem);
  color: var(--White);
}
.testimonial__card__profile__text h4 {
  font-size: 1.6rem;
  font-size: clamp(1.6rem, 1rem + 0.9244992296vw, 2rem);
  color: var(--Light-gray);
}
.testimonial__card__description {
  color: var(--White);
  font-size: 1.8rem;
  font-size: clamp(1.8rem, 1rem + 0.9244992296vw, 2rem);
  padding-bottom: 1.5rem;
}
.testimonial__card__quote {
  font-size: 1.1rem;
  font-size: clamp(1.1rem, 1rem + 0.9244992296vw, 1.5rem);
  color: var(--Light-gray);
  font-weight: 600;
}

@media (min-width: 37.5em) {
  body {
    display: grid;
    place-items: center;
  }
  .testimonial {
    grid-template-areas: "one one" "two five" "three five" "four four";
  }
}
@media (min-width: 64em) {
  body {
    display: flex;
    place-items: center;
  }
  .testimonial {
    grid-template-areas: "one one two five" "three four four five";
  }
}/*# sourceMappingURL=style.css.map */