@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

:root {
  --Light-gray: hsl(0, 0%, 81%);
  --Light-grayish-blue: hsl(210, 46%, 95%);
  --Moderate-violet: hsl(263, 55%, 52%);
  --Very-dark-grayish-blue: hsl(217, 19%, 35%);
  --Very-dark-blackish-blue: hsl(219, 29%, 14%);
  --White: hsl(0, 0%, 100%);
  font-size: 62.5%;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

body {
  min-height: 100vh;
  padding: 2rem;
  font-size: 1.3rem;
  font-family: 'Barlow Semi Condensed', monospace;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background: var(--Light-gray);
  display: grid;
  place-content: center;
}

.testimonial {
  display: grid;
  max-width: 111rem;
  gap: 3rem;
  grid-template-areas: 
  'one'
  'two'
  'three'
  'four'
  'five';
  margin-inline: auto;

  &__card {
    padding: 3rem;
    border-radius: 10px;
    &:nth-child(1) {
      grid-area: one;
      background: var(--Moderate-violet);
      position: relative;
      z-index: 9;

      .quotation {
        width: 10rem;
        height: 11rem;
        position: absolute;
        top: 0;
        right: 6rem;
        z-index: -19;
      }
    }

    &:nth-child(2) {
      grid-area: two;
      background: var(--Very-dark-grayish-blue);
    }

    &:nth-child(3) {
      grid-area: three;
    }

    &:nth-child(4) {
      grid-area: four;
      background: var(--Very-dark-blackish-blue);
    }

    &:nth-child(5) {
      grid-area: five;
    }

    &:nth-child(3),
    &:nth-child(5) {
      background: white;
      h1,
      h2 {
        color: var(--Very-dark-blackish-blue);
      }

      p {
        color: gray;
      }
    }

    &__profile {
      display: flex;
      align-items: center;
      gap: 1.5rem;
      padding-bottom: 1.5rem;
      img {
        max-width: 3rem;
        border-radius: 50%;
      }
      &__text {
        h2 {
          font-size: 1.3rem;
          font-weight: 600;
          color: var(--White);
        }
        h3 {
          font-size: 1.2rem;
          font-weight: 500;
          color: var(--Light-gray);
        }
      }
    }

    &__description {
      color: var(--White);
      font-size: clamp(1.6rem, calc(1.4rem + 0.51vw), 2rem);
      font-weight: 500;
      padding-bottom: 1.5rem;
    }

    &__quote {
      font-size: 1.3rem;
      color: var(--Light-gray);
      font-weight: 600;
    }
  }
}

@media (min-width: 37.5em) {
  .testimonial {
    padding: unset;
    grid-auto-columns: auto;
    grid-template-areas:
      'two three'
      'one one'
      'four five';
  }
}

@media (min-width: 64em) {
  .testimonial {
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
    grid-template-areas:
      'one one two five'
      'three four four five';
  }
}
